.qld__body--half-width{
    max-width: 50%;
}
.qld__body__text{
    padding:1rem;
}
.qld__body__text h1, .qld__body__text h2, .qld__body__text h3, .qld__body__text h4, .qld__body__text h5, .qld__body__text h6{
    max-width:100% !important;
}  