    <section class="qld__body qld__body--search">
        <div class="container-fluid">
    
            <div class="qld__search-page">
    
                <div class="qld__search-main">
                   <div class="qld__service_search">
                        <div class="row">
                            <div class="qld__service_search__facets col-lg-4 col-xs-12">
                                <!-- Facets -->
                                <div class="qld__service_search__facets__wrapper">
                                    <button class="qld__accordion__title js-qld__accordion qld__accordion--closed"
                                        aria-controls="accordion-group-header" aria-expanded="false">
                                        <i class="fal fa-filter"></i>
                                        <span class="qld__accordion__title--closed">Refine your search</span>
                                        <span class="qld__accordion__title--open">Close filters</span>
                                    </button>
                                    <div class="qld__accordion__body qld__accordion--closed" id="accordion-group-header">
                                        <div class="qld__service_search__facets__header">
                                            <h3>Refine your search</h3>
                                            <a role="button" class="qld__service_search__facets__expand-all">Expand all</a>
                                        </div>
                                        <ul class="qld__accordion-group">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="qld__service_search__results col-xs-12 col-lg-7 col-lg-offset-1">
                                <!-- Results -->
                        
                                <!-- Pagination -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<script src="./?a=%globals_site_metadata_siteRepository%:dist/externals/handlebars.min-v4.7.6.js"></script>-->
    </section>