<header class="qld__admin-header qld__header " role="banner">
    <div class="qld__header__pre-header">
        <div class="container-fluid">
            <a href="./?a=72483">
                <img
                    class="qld__header__pre-header-brand-image"
                    alt="Queensland Design System Starter"
                    src="./?a=/mysource_files/img/header-logo-qgov--light.svg"
                />
            </a>
            <a href="https://qld.gov.au" class="qld__header__pre-header-url">qld.gov.au</a>
        </div>
    </div>
</header>
<!-- HEADER END -->
