<section class="qld__body qld__body--alt qld__card--wrapper">
    <div class="container-fluid">
        <div>
            <div class="row">
                <div class="qld__card-intro col-xs-12 qld__card-intro--sm">
                    <h1 class="capitalised" data-action="tag-paramater">Queensland Design System</h1>
                </div>
            </div>
            <div class="row">
                <ul class="qld__card-list qld__card-list--matchheight" data-action="slick-slider" data-type="mobile-only">
                            <li class="col-xs-12">
                                <div class="qld__card qld__card__multi-action qld__card__multi-action--feature  qld__card--image">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/mareeba-stroke-first-aid">
                                            <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0015/16440/Card-Mareeba-stroke-first-aid.jpg')" alt="Image for Mareeba stroke averted"></div>
                                        </a>
                                    <div class="qld__card__inner">
                                        <div class="qld__card__content">
                                            <div class="qld__card__content-inner">
                                                <p class="qld__card__date">22.02.2022</p>
                                                <h3 class="qld__card__title">
                                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/mareeba-stroke-first-aid">Mareeba stroke averted</a>   
                                                </h3>
                                                <p id="card-22724" class="qld__card__description">Four days after hearing about the signs of stroke at a talk at Mareeba Men’s Shed, Kent Duffield recognised those very signs in his wife and acted quickly.</p>
                                            </div>
                                        </div>
                                        <div class="qld__card__footer">
                                            <hr class="qld__horizontal-rule">
                                            <div class="qld__card__footer-inner">
                                                <ul class="qld__card__tags qld__tag-list">
                                                <li>
                                                    <a class="qld__tag qld__tag--link" href="./?a=000?tag=women&#x27;s_health">Women&#x27;s Health</a>
                                                </li>
                                                <li>
                                                    <a class="qld__tag qld__tag--link" href="./?a=000?tag=covid-19">COVID-19</a>
                                                </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>  
                </ul>
                <div class="qld__slick-controls"></div>
            </div>
        </div>
    </div>
</section>
<section class="qld__body qld__card--wrapper ">
    <div class="container-fluid">
        <div class="row">
            <div class="qld__card-intro col-xs-12 qld__card-intro--no-top-p">
                <h2>Latest articles</h2>
            </div>
        </div>
        <div class="row">
            <ul class="qld__card-list qld__card-list--matchheight" data-type="three">
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/atherton-hospital-redevelopment-reaches-new-heights">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0026/48752/Card-Atherton-Hospital-redevelopment-reaches-new-heights.jpg')" alt="Image for Atherton Hospital redevelopment reaches new heights"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/atherton-hospital-redevelopment-reaches-new-heights">Atherton Hospital redevelopment reaches new heights</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">The Atherton Hospital redevelopment has marked a major milestone with completion of the roof on the new four-storey Clinical Services Building, bringing the $74.8 million project a step closer to completion.</p>
                                    </div>
                                </div>
                                <div class="qld__card__footer">
                                    <hr class="qld__horizontal-rule">
                                    <div class="qld__card__footer-inner">
                                        <ul class="qld__card__tags qld__tag-list">
                                            <li>
                                                <a class="qld__tag qld__tag--link" href="./?a=000?tag=women&#x27;s_health">Women&#x27;s Health</a>
                                            </li>
                                            <li>
                                                <a class="qld__tag qld__tag--link" href="./?a=000?tag=covid-19">COVID-19</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/my-living-nightmare">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0018/48222/Card-My-Living-Nightmare.jpg')" alt="Image for My Living Nightmare"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/my-living-nightmare">My Living Nightmare</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">A Far North Queenslander diagnosed with a rare illness has given clinicians incredible insight into what a patient experiences when their body is fully paralysed, but their mind still conscious.</p>
                                    </div>
                                </div>
                                <div class="qld__card__footer">
                                    <hr class="qld__horizontal-rule">
                                    <div class="qld__card__footer-inner">
                                        <ul class="qld__card__tags qld__tag-list">
                                            <li>
                                                <a class="qld__tag qld__tag--link" href="./?a=000?tag=women&#x27;s_health">Women&#x27;s Health</a>
                                            </li>
                                            <li>
                                                <a class="qld__tag qld__tag--link" href="./?a=000?tag=covid-19">COVID-19</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/stroke-excellence">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0021/47253/Card-Stroke-excellence.jpg')" alt="Image for Stroke excellence"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/stroke-excellence">Stroke excellence</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">Cairns Hospital has won a national excellence award for its work in managing patients with stroke.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/dizzy-no-more">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0018/47115/Card-Dizzy-no-more.jpg')" alt="Image for Dizzy no more"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/dizzy-no-more">Dizzy no more</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">Ongoing dizziness and vertigo make simple life activities incredibly challenging. 84-year-old Mei is no longer dizzy thanks to some specialised goggles and physiotherapy treatment called vestibular therapy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/world-prematurity-day">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0027/47097/Card-World-Prematurity-Day.jpg')" alt="Image for World Prematurity Day"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/world-prematurity-day">World Prematurity Day</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">We mark World Prematurity Day by re-visiting baby Millie who is the smallest baby to have born in North Queensland at just 430 grams.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/new-state-of-the-art-pathology-testing-machines-for-fnq">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0030/46785/Card-New-state-of-the-art-pathology-testing-machines-for-FNQ.jpg')" alt="Image for New state-of-the-art pathology testing machines for FNQ"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/new-state-of-the-art-pathology-testing-machines-for-fnq">New state-of-the-art pathology testing machines for FNQ</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">Cairns Hospital’s Pathology Queensland laboratory staff are thrilled with their new state-of-the-art biochemical analysers that test patients’ blood in half the time.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/urban-expansion-linked-to-dangerous-disease">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0030/46686/Card-Urban-expansion-linked-to-dangerous-disease.jpg')" alt="Image for Urban expansion linked to dangerous disease"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/urban-expansion-linked-to-dangerous-disease">Urban expansion linked to dangerous disease</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">Urban expansion may have contributed to a rise in cases of a dangerous soil-borne disease in Far North Queensland, a new study has found.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/a-champion-of-the-innisfail-community">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0031/46687/Card-A-champion-of-the-Innisfail-community.jpg')" alt="Image for A champion of the Innisfail community"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/a-champion-of-the-innisfail-community">A champion of the Innisfail community</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">Innisfail Hospital director of nursing and facility manager Lesley Harris has been recognised for 40 years of service with Queensland Health.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/shining-lights-for-breast-cancer-awareness">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0018/46431/Card-Shining-lights-for-Breast-Cancer-Awareness.jpg')" alt="Image for Shining lights for Breast Cancer Awareness"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/shining-lights-for-breast-cancer-awareness">Shining lights for Breast Cancer Awareness</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">October is Breast Cancer Awareness month, so it is fitting that this week’s unsung heroes are the team at BreastScreen Queensland (BSQ) Cairns Service.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/occupational-therapy-week">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0027/46386/Card-OT-week.jpg')" alt="Image for Occupational Therapy Week"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/occupational-therapy-week">Occupational Therapy Week</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">Occupational Therapy Week is an opportunity to celebrate OT and promote the many ways occupational therapists help people to reach their potential.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/mental-health-consumers-answer-hard-hitting-questions">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0020/44273/Card-Mental-health-consumers-answer-hard-hitting-questions.jpg')" alt="Image for Mental health consumers answer hard-hitting questions"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/mental-health-consumers-answer-hard-hitting-questions">Mental health consumers answer hard-hitting questions</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">Do you want to know what it is really like living with a mental health condition? Would you know if you were unwell?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/greater-vax-access-for-first-nations-people">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0012/44022/Card-Greater-vax-access-for-First-Nations-people.jpg')" alt="Image for Greater vax access for First Nations people"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/greater-vax-access-for-first-nations-people">Greater vax access for First Nations people</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">First Nations people are being given more opportunities to receive their COVID-19 jab as part of a series of new initiatives to boost the vaccination rate in Far North Queensland.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/medical-students-boost-covid-19-vaccine-team-ranks">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0022/34717/Medical-students-boost-vaccine-team-tile.jpg')" alt="Image for Medical students boost COVID-19 vaccine team ranks"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/medical-students-boost-covid-19-vaccine-team-ranks">Medical students boost COVID-19 vaccine team ranks</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">James Cook University medical students have been recruited to Cairns and Hinterland Hospital and Health Service’s COVID-19 vaccination team to help prevent the spread of the virus in Far North Queensland.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/second-covid-detection-in-cairns-wastewater">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0024/12867/Richard-tile.jpg')" alt="Image for Second COVID detection in Cairns wastewater"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/second-covid-detection-in-cairns-wastewater">Second COVID detection in Cairns wastewater</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">Traces of COVID-19 have been detected in sewage at the Cairns North Wastewater Treatment Plant. Here&#x27;s what you need to know.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                                <a aria-label="Brand" aria-describedby="card-22724" class="qld__card__image-link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/holidaymakers-urged-to-makefnqcovid19free">
                                    <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0025/12868/COVID-19-postcards-tile.JPG')" alt="Image for Holidaymakers urged to #MakeFNQCOVID19Free"></div>
                                </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        
                                        <h3 class="qld__card__title">
                                        <a aria-label="Brand" aria-describedby="card-22724" class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/holidaymakers-urged-to-makefnqcovid19free">Holidaymakers urged to #MakeFNQCOVID19Free</a>   
                                        </h3>
                                        <p id="card-22724" class="qld__card__description">With interstate borders re-opened, Far North Queensland is welcoming tourists back to the region. Here&#x27;s how you can be COVID-19 safe while visiting our special part of the world.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
            </ul>
        </div>
        <div class="row">
            <div class="qld__card-list__footer centered col-xs-12">
                <nav class="text-center hidden-print qld__search-pagination" aria-label="pagination">
                    <h2 class="sr-only">Pagination</h2>
                    <ul class="qld__search-pagination__list">

                            <li class="num active">
                                
                                    <a class="qld__search-pagination_link" href="?&amp;start_rank&#x3D;1">1</a></li>

                            </li>
                        

                            <li class="num">
                                
                                    <a class="qld__search-pagination_link" href="?&amp;start_rank&#x3D;4">2</a></li>

                            </li>
                        

                            <li class="num">
                                
                                    <a class="qld__search-pagination_link" href="?&amp;start_rank&#x3D;7">3</a></li>

                            </li>
                        

                            <li class="num">
                                
                                    <a class="qld__search-pagination_link" href="?&amp;start_rank&#x3D;10">4</a></li>

                            </li>
                        

                            <li class="num">
                                
                                    <a class="qld__search-pagination_link" href="?&amp;start_rank&#x3D;13">5</a></li>

                            </li>
                        
                                <li class="ellipsis">
                                    <span>
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </li>

                            <li class="last">
                                
                                    <a class="qld__search-pagination_link" href="?&amp;start_rank&#x3D;22">8</a></li>

                            </li>
                        

                            <li class="next">
                                

                                    <a class="qld__search-pagination_link" href="?&amp;start_rank&#x3D;4" rel="next" aria-label="Next page of results">
                                        <span>Next</span>
                                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" focusable="false" width="16" height="16" role="img"><path fill="currentColor" d="M443.7 266.8l-165.9 176C274.5 446.3 269.1 448 265.5 448c-3.986 0-7.988-1.375-11.16-4.156c-6.773-5.938-7.275-16.06-1.118-22.59L393.9 272H16.59c-9.171 0-16.59-7.155-16.59-15.1S7.421 240 16.59 240h377.3l-140.7-149.3c-6.157-6.531-5.655-16.66 1.118-22.59c6.789-5.906 17.27-5.469 23.45 1.094l165.9 176C449.4 251.3 449.4 260.7 443.7 266.8z"/></svg>
                                    </a>
                            </li>
                        
                    </ul>
                </nav>
            </div>
        </div>
            
    </div>
</section>
