
<section class="qld__body qld__tags-metadata">
    <div class="container-fluid"> 
        <ul class="qld__tag-list">
                <li>
                    <div class="qld__tag qld__tag--link">Topic 1</div>
                </li>
                <li>
                    <div class="qld__tag qld__tag--link"> Topic 2</div>
                </li>
                <li>
                    <div class="qld__tag qld__tag--link">Location 1</div>
                </li>
        </ul>
    </div>
</section>

