<section class="qld__body  qld__card--wrapper" id="news-feed-">
    <div class="container-fluid">
        <div class="row">
            <div class="qld__card-intro col-xs-12">
                <h2>News Feed Heading</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="row">
            <ul class="qld__card-list qld__card-list--matchheight" data-action="slick-slider" data-type="two">
                    <li class="col-xs-12 
                        col-md-6 col-lg-4
                ">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                            <a href="https://cairns-hinterland.health.qld.gov.au/about-us/news/world-hepatitis-day-cairns-film-released" class="qld__card__image-link">
                                <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0014/27212/Hepatitis-short-film-card.png')" alt="Image for World Hepatitis Day – Cairns film released"></div>
                            </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        <p class="qld__card__date">09.03.2022</p>
                                        <h3 class="qld__card__title"><a class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/world-hepatitis-day-cairns-film-released">World Hepatitis Day – Cairns film released</a></h3>
                                        <div class="qld__card__description">Connecting with Care Cairns is a short film that highlights the innovative work of the Cairns Sexual Health team in engaging the community in the testing and treatment of hepatitis C.</div>
                                    </div>
                                </div>
                                
                                <div class="qld__card__footer">
                                    <hr class="qld__horizontal-rule">
                                    <div class="qld__card__footer-inner">
                                        <ul class="qld__card__tags qld__tag-list">
                                                <li>
                                                    <a href="?tag=research" class="qld__tag qld__tag--link">Research</a>
                                                </li>
                                                <li>
                                                    <a href="?tag=queensland_health" class="qld__tag qld__tag--link">Queensland Health</a>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 
                        col-md-6 col-lg-4
                ">
                        <div class="qld__card qld__card__multi-action qld__card--image">
                            <a href="https://cairns-hinterland.health.qld.gov.au/about-us/news/10-year-milestone-for-cancer-care-centre" class="qld__card__image-link">
                                <div class="qld__responsive-media-img--bg" style="background-image: url('https://cairns-hinterland.health.qld.gov.au/__data/assets/image/0026/18485/liz-plummer-10-years-card.jpg')" alt="Image for 10-year milestone for cancer care centre"></div>
                            </a>
                            <div class="qld__card__inner">
                                <div class="qld__card__content">
                                    <div class="qld__card__content-inner">
                                        <p class="qld__card__date">09.03.2022</p>
                                        <h3 class="qld__card__title"><a class="qld__card--clickable__link" href="https://cairns-hinterland.health.qld.gov.au/about-us/news/10-year-milestone-for-cancer-care-centre">10-year milestone for cancer care centre</a></h3>
                                        <div class="qld__card__description">This week, we are saying thanks to the thousands of people who have been through the doors of the Liz Plummer Cancer Care Centre since it opened 10 years ago.</div>
                                    </div>
                                </div>
                                
                                <div class="qld__card__footer">
                                    <hr class="qld__horizontal-rule">
                                    <div class="qld__card__footer-inner">
                                        <ul class="qld__card__tags qld__tag-list">
                                                <li>
                                                    <a href="?tag=stroke" class="qld__tag qld__tag--link"></a>
                                                </li>
                                                <li>
                                                    <a href="?tag=health" class="qld__tag qld__tag--link"></a>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
            </ul>
            <div class="qld__card-list__footer   col-xs-12">
                <div class="qld__slick-controls"></div>
                <a class="qld__cta-link qld__cta-link--view-all" href="./?a=#">All items</a>
            </div>
        </div>
    </div>
</section>
