<div class="qld__video_player" id="video_player-123">
    <div class="container-fluid">
        <div class="row">
            <div class="qld__video_player__width col-xs-12">
                <div class="qld__video_player__wrapper 
                    ">
                    <div class="qld__video_player__video not-ready qld__responsive-media-vid qld__responsive-media-vid--16x9">
                        <!-- if the thumb has been set -->
                            <!-- else no thumb set and is youtube get the thumb from youtube -->
                                <a href="#" class="qld__video_player__thumbnail light" style="background-image:url(https://img.youtube.com/vi/pb8UEgXwrp8/maxresdefault.jpg);" title="Play video">
                                    <div class="qld__video_player__tag">
                                        <div class="qld__video_player__tag-watch">
                                            <i class="fal fa-play-circle "></i> <span>Watch</span> 
                                        </div>
                                        <div class="qld__video_player__tag-runtime">
                                            <i class="fal fa-clock"></i> 02:41
                                        </div>
                                    </div>
                                </a>
                        <!-- Vimeo -->
                        <!-- Youtube -->
                            <div class="qld__video_player__iframe qld__responsive-media-vid qld__responsive-media-vid--16x9"
                                data-source="https://www.youtube.com/embed/pb8UEgXwrp8" data-video-id="pb8UEgXwrp8" data-type="youtube">

                                <div id="video-123" class="qld__video_player__player"></div>
                            </div>
                    </div>
                        <div class="qld__video_player__caption">Caption text</div>


                            <div class="qld__video_player__transcript">
                                <section class="qld__accordion">
                                    <button class="qld__accordion__title js-qld__accordion qld__accordion--closed" aria-controls="accordion-group-123" aria-expanded="false">
                                        <i class="fal fa-file-lines"></i>Show transcript
                                    </button>
                                    <div class="qld__accordion__body qld__accordion--closed" id="accordion-group-123" style="">
                                        <div class="qld__accordion__body-wrapper">
                                            <p>The transcript goes here.</p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
