// .qld__banner__content--body, .qld__banner__content--title{
//     padding-left:1rem;
// }
// .qld__banner__content{
//     .qld__banner__breadcrumbs{
//         padding-left:1rem;
//     }
// }
.qld__banner__content{
    padding: 2rem 2rem 2rem 0rem !important;
}
.qld__banner--alt .qld__banner__hero{
    background-color: var(--QLD-color-light-alt-background);
}
@media (min-width:699px) {
    .qld__banner {
        background-size: cover;
        background-repeat: no-repeat;
    }
}
section.qld__body{
    .qld__banner__content{
        padding: 1rem !important;
    }
}
@media (max-width: 1440px){
    section.qld__banner{
        padding:1rem;
    }
}
section.qld__body__fullwidth{
    section.qld__banner{
        @media (max-width: 1440px){
            padding: 1rem 0rem;
        }
        .qld__banner__wrapper{
            max-width:86rem;
            margin-left: auto;
            margin-right: auto;
            // padding-left: 1rem;
            // padding-right: 1rem;
        }
        .qld__banner__hero{
            padding-right:0rem;
        }
        .qld__banner__content{
            padding-left:0rem !important;
        }
    }
}

