.qld__callout--dark, .qld__callout--dark-alt {
    .qld__callout__heading{
      color:var(--QLD-color-dark-heading) !important;
    }
  }
  .qld__callout{
    .qld__callout__heading{
      max-width:100%;
    }
  }
  .qld__callout--wrapper{
    margin: 1.5rem 0rem;
  }