<section class="qld__body">
    <div class="container-fluid">
        <div
            class="qld__video qld__video--video-layout-two_col qld__video--column-layout-left qld__video--text-layout-above" id="video-123">

            <div class="qld__video__vid-wrapper">

                <!-- if the thumb has been set -->
                    <div class="qld__video__thumbnail" style="background-image:url(./?a=/mysource_files/banner-bg.png);">
                        <a href="#" class="qld__video__thumbnail-playbtn" title="play video">
                            <div class="qld__video__thumbnail-playbtn-bg">
                                <i class="fal fa-play-circle "></i>
                            </div>
                        </a>
                    </div>


                <!-- Vimeo -->

                <!-- Youtube -->
                    <!-- Youtube https://www.youtube.com/embed/0O2aH4XLbto -->

                    <div class="qld__video_vid hidden"
                        data-source="https://www.youtube.com/embed/xgPwZiaI1A4" data-video-id="xgPwZiaI1A4" data-type="youtube">

                        <div id="video-123" class="qld__video_player"></div>
                    </div>


                    <div class="qld__video__caption"><p>Video Caption text with <a href="#">link</a></p></div>
            </div>

            <div class="qld__video__text_wrapper">

                <h2 class="qld__video__header">
                    Video Heading text Video Heading text Video Heading text Video Heading text Video Heading text
                </h2>
                <div class="qld__video__body">
                    Video Body Text Video Body Text Video Body Text Video Body Text Video Body Text Video Body Text Video Body Text Video Body Text Video Body Text Video Body Text Video Body Text 
                </div>

            </div>
        </div>
    </div>
</section>
