    <article class="qld__podcast-series" id="podcast-series-">
        <section class="qld__body qld__body--alt-dark">
            <div class="container-fluid">
                <div class="qld__video qld__video--no-padding qld__video--video-layout-one_col">
                    <div class="qld__video__vid-wrapper no-margin">
                            <div class="qld__video__thumbnail"
                                style="background-image:url(https://img.youtube.com/vi/AKSRUFEMRt8/0.jpg);">
                                <a href="#" class="qld__video__thumbnail-playbtn">
                                    <div class="qld__video__thumbnail-playbtn-tag">
                                        <i class="fal fa-play-circle "></i> <span>Watch</span> 
                                        <i class="fal fa-clock"></i> 02:41
                                    </div>
                                </a>
                            </div>
                        <div class="qld__video_vid hidden"
                        data-source="https://www.youtube.com/embed/AKSRUFEMRt8" data-video-id="AKSRUFEMRt8" data-type="youtube">
                            <div id="video-" class="qld__video_player"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="qld__body">
            <div class="container-fluid">
                <div class="qld__abstract">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <hr>
                    <div class="qld__news_article__footer__tags">
                        <h2 class="qld__display-sm">This page is tagged in the following topics</h2>
                        <ul class="qld__tag-list">
                            <li>
                                <a class="qld__tag qld__tag--link qld__tag--large" href="?tag=Content"></a>
                            </li>
                        </ul> 
                    </div>
            </div>
        </section>
        <section class="qld__body qld__body--alt">
            <div class="container-fluid">
                    <div class="row">
                        <div class="qld__card-intro col-xs-12 qld__card-intro--sm">
                            <h2>Episodes</h2>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="qld__card-list qld__card-list--matchheight" data-type="four">
                                <li class="col-xs-12 col-md-3">
                                    <div class="qld__card qld__card__multi-action qld__card--image">
                                        <a href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/depression" class="qld__card__image-link">
                                            <div class="qld__responsive-media-img--bg" style="background-image: url('https://picsum.photos/380/240')" alt="Image for Depression"></div>
                                            <div class="qld__card__image-tag">
                                                <div class="qld__card__image-tag--title">
                                                    <i class="qld__card__image-tag--icon fa-light fa-podcast"></i>
                                                    <span class="qld__card__image-tag__text--bold">Listen</span>
                                                </div>
                                                <div class="qld__card__image-tag--length">
                                                    <i class="qld__card__image-tag--icon far fa-clock"></i>
                                                    <span class="qld__card__image-tag__text--small">40:01</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="qld__card__inner">
                                            <div class="qld__card__content">
                                                <div class="qld__card__content-inner">
                                                    <p class="qld__card__date">29.04.2022</p>
                                                    <h3 class="qld__card__title"><a class="qld__card--clickable__link" href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/depression">Depression</a></h3>
                                                </div>
                                            </div>
                                            <div class="qld__card__footer">
                                                <hr class="qld__horizontal-rule">
                                                <div class="qld__card__footer-inner">
                                                    <ul class="qld__card__tags qld__tag-list">
                                                        <li>
                                                            <a class="qld__tag qld__tag--link" href="./?a=000?tag=mental_health">Mental health</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-md-3">
                                    <div class="qld__card qld__card__multi-action qld__card--image">
                                        <a href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/anxiety" class="qld__card__image-link">
                                            <div class="qld__responsive-media-img--bg" style="background-image: url('https://picsum.photos/380/240')" alt="Image for Anxiety"></div>
                                            <div class="qld__card__image-tag">
                                                <div class="qld__card__image-tag--title">
                                                    <i class="qld__card__image-tag--icon fa-light fa-podcast"></i>
                                                    <span class="qld__card__image-tag__text--bold">Listen</span>
                                                </div>
                                                <div class="qld__card__image-tag--length">
                                                    <i class="qld__card__image-tag--icon far fa-clock"></i>
                                                    <span class="qld__card__image-tag__text--small">38:08</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="qld__card__inner">
                                            <div class="qld__card__content">
                                                <div class="qld__card__content-inner">
                                                    <p class="qld__card__date">29.04.2022</p>
                                                    <h3 class="qld__card__title"><a class="qld__card--clickable__link" href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/anxiety">Anxiety</a></h3>
                                                </div>
                                            </div>
                                            <div class="qld__card__footer">
                                                <hr class="qld__horizontal-rule">
                                                <div class="qld__card__footer-inner">
                                                    <ul class="qld__card__tags qld__tag-list">
                                                        <li>
                                                            <a class="qld__tag qld__tag--link" href="./?a=000?tag=mental_health">Mental health</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-md-3">
                                    <div class="qld__card qld__card__multi-action qld__card--image">
                                        <a href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/mental-health-and-wellbeing" class="qld__card__image-link">
                                            <div class="qld__responsive-media-img--bg" style="background-image: url('https://picsum.photos/380/240')" alt="Image for Mental Health and Wellbeing"></div>
                                            <div class="qld__card__image-tag">
                                                <div class="qld__card__image-tag--title">
                                                    <i class="qld__card__image-tag--icon fa-light fa-podcast"></i>
                                                    <span class="qld__card__image-tag__text--bold">Listen</span>
                                                </div>
                                                <div class="qld__card__image-tag--length">
                                                    <i class="qld__card__image-tag--icon far fa-clock"></i>
                                                    <span class="qld__card__image-tag__text--small">28:34</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="qld__card__inner">
                                            <div class="qld__card__content">
                                                <div class="qld__card__content-inner">
                                                    <p class="qld__card__date">29.04.2022</p>
                                                    <h3 class="qld__card__title"><a class="qld__card--clickable__link" href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/mental-health-and-wellbeing">Mental Health and Wellbeing</a></h3>
                                                </div>
                                            </div>
                                            <div class="qld__card__footer">
                                                <hr class="qld__horizontal-rule">
                                                <div class="qld__card__footer-inner">
                                                    <ul class="qld__card__tags qld__tag-list">
                                                        <li>
                                                            <a class="qld__tag qld__tag--link" href="./?a=000?tag=mental_health">Mental health</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-md-3">
                                    <div class="qld__card qld__card__multi-action qld__card--image">
                                        <a href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/perinatal-depression-and-anxiety" class="qld__card__image-link">
                                            <div class="qld__responsive-media-img--bg" style="background-image: url('https://picsum.photos/380/240')" alt="Image for Perinatal Depression and Anxiety"></div>
                                            <div class="qld__card__image-tag">
                                                <div class="qld__card__image-tag--title">
                                                    <i class="qld__card__image-tag--icon fa-light fa-podcast"></i>
                                                    <span class="qld__card__image-tag__text--bold">Listen</span>
                                                </div>
                                                <div class="qld__card__image-tag--length">
                                                    <i class="qld__card__image-tag--icon far fa-clock"></i>
                                                    <span class="qld__card__image-tag__text--small">41:22</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="qld__card__inner">
                                            <div class="qld__card__content">
                                                <div class="qld__card__content-inner">
                                                    <p class="qld__card__date">29.04.2022</p>
                                                    <h3 class="qld__card__title"><a class="qld__card--clickable__link" href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/perinatal-depression-and-anxiety">Perinatal Depression and Anxiety</a></h3>
                                                </div>
                                            </div>
                                            <div class="qld__card__footer">
                                                <hr class="qld__horizontal-rule">
                                                <div class="qld__card__footer-inner">
                                                    <ul class="qld__card__tags qld__tag-list">
                                                        <li>
                                                            <a class="qld__tag qld__tag--link" href="./?a=000?tag=mental_health">Mental health</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-md-3">
                                    <div class="qld__card qld__card__multi-action qld__card--image">
                                        <a href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/post-traumatic-stress-disorder" class="qld__card__image-link">
                                            <div class="qld__responsive-media-img--bg" style="background-image: url('https://picsum.photos/380/240')" alt="Image for Post-traumatic Stress Disorder"></div>
                                            <div class="qld__card__image-tag">
                                                <div class="qld__card__image-tag--title">
                                                    <i class="qld__card__image-tag--icon fa-light fa-podcast"></i>
                                                    <span class="qld__card__image-tag__text--bold">Listen</span>
                                                </div>
                                                <div class="qld__card__image-tag--length">
                                                    <i class="qld__card__image-tag--icon far fa-clock"></i>
                                                    <span class="qld__card__image-tag__text--small">41:25</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="qld__card__inner">
                                            <div class="qld__card__content">
                                                <div class="qld__card__content-inner">
                                                    <p class="qld__card__date">29.04.2022</p>
                                                    <h3 class="qld__card__title"><a class="qld__card--clickable__link" href="https://qhscb.squiz.cloud/core/examples/podcast-index-page/podcast-series-test/post-traumatic-stress-disorder">Post-traumatic Stress Disorder</a></h3>
                                                </div>
                                            </div>
                                            <div class="qld__card__footer">
                                                <hr class="qld__horizontal-rule">
                                                <div class="qld__card__footer-inner">
                                                    <ul class="qld__card__tags qld__tag-list">
                                                        <li>
                                                            <a class="qld__tag qld__tag--link" href="./?a=000?tag=women&#x27;s_health">Women&#x27;s Health</a>
                                                        </li>
                                                        <li>
                                                            <a class="qld__tag qld__tag--link" href="./?a=000?tag=nutrition">Nutrition</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                        </ul>
                    </div>
            </div>
        </section>
    </article>
