.qld__card-list{
    li{
        @media (min-width:992px){
            &:first-of-type{
                padding-left:0rem !important;
            }
            &:last-of-type{
                padding-right:0rem !important;
            }
        }
        @media (min-width:699px) and (max-width:991px){
            &:first-of-type, &:last-of-type{
                padding-left:0rem !important;
            }
            &:nth-of-type(even){
                padding-right:0rem !important
            }
        }
        @media (max-width:698px){
            padding-left:0rem !important;
            padding-right:0rem !important;
        }
    }
}
.qld__card{
    
    &.qld__body--alt{
        background-color: var(--QLD-color-light-alt-background);
    }
    &.qld__body--dark{
        background-color: var(--QLD-color-dark-background);
        color: var(--QLD-color-dark-text);
        h3.qld__card__title{
            color: var(--QLD-color-dark-text);
            a{
                color: var(--QLD-color-dark-text) !important;
                text-decoration-color: var(--QLD-color-dark-text) !important ;
            }
        }
        }
    &.qld__body--dark-alt{
        background-color: var(--QLD-color-dark-alt-background);
        color: var(--QLD-color-dark-text);
        h3.qld__card__title{
            color: var(--QLD-color-dark-text);
            a{
                color: var(--QLD-color-dark-text) !important;
                text-decoration-color: var(--QLD-color-dark-text) !important ;
            }
        }
    }
    .qld__card__content{
        display: flex;
        height: 100%;
        flex-direction: column;
    }
}
.qld__card--wrapper{
    margin-bottom: 2rem;
    margin-top: 2rem;
    .container-fluid{
        .row{
            margin-left: -1rem;
            margin-right: -1rem;
        }
        div[class^="col-"]{
            margin:0rem;
            padding: 0rem;
        }
    }
}
.qld__card--right{
    justify-content: right;
}
.qld__card--left{
    justify-content: left;
}
.qld__card--center{
    justify-content: center;
}