.qld__card{
    &.qld__body--alt{
        background-color: var(--QLD-color-light-alt-background);
    }
    &.qld__body--dark{
        background-color: var(--QLD-color-dark-background);
        color: var(--QLD-color-dark-text);
        h3.qld__card__title{
            color: var(--QLD-color-dark-text);
            a{
                color: var(--QLD-color-dark-text) !important;
                text-decoration-color: var(--QLD-color-dark-text) !important ;
            }
        }
        }
    &.qld__body--dark-alt{
        background-color: var(--QLD-color-dark-alt-background);
        color: var(--QLD-color-dark-text);
        h3.qld__card__title{
            color: var(--QLD-color-dark-text);
            a{
                color: var(--QLD-color-dark-text) !important;
                text-decoration-color: var(--QLD-color-dark-text) !important ;
            }
        }
    }
}
.qld__card--wrapper{
    margin-bottom: 2rem;
    margin-top: 2rem;
    .container-fluid{
        .row{
            margin-left: -1rem;
            margin-right: -1rem;
        }
        div[class^="col-"]{
            margin:0rem;
            padding: 0rem;
        }
    }
}
.qld__card--right{
    justify-content: right;
}
.qld__card--left{
    justify-content: left;
}
.qld__card--center{
    justify-content: center;
}