<!--@@ Breadcrumbs - Mobile @@-->
<nav class="qld__breadcrumbs qld__breadcrumbs--dark qld__banner__breadcrumbs qld__banner__breadcrumbs--mobile" aria-label="breadcrumb">
    <ul class="qld__link-list qld__link-list--inline">
        <li>
            <a href="">
                Back to Service Finder
            </a>    
        </li>
    </ul>
</nav>

<section class="qld__banner 
                     qld__banner--search qld__banner--services-search"
                    style="background-image: url(./?a=113081);"
                    
                    >
    <div class="container-fluid">
        <div class="qld__banner__wrapper">
            <div class="qld__banner__main row">
                <div class="qld__banner__content col-xs-12 col-md-4 col-lg-4">

                        <nav class="qld__breadcrumbs 
                         
                        qld__breadcrumbs--dark 
                        
                        qld__banner__breadcrumbs qld__banner__breadcrumbs--desktop"
                        aria-label="breadcrumb">
                            <ul class="qld__link-list qld__link-list--inline">
                                        <li ><a href="/home.html">Home</a></li>
                                        <li ><a href="/">Design</a></li>
                                        <li aria-current="page">Components</li>
                            </ul>
                        </nav>

                    <h1>Health services</h1>

                    
                </div>
                <div class="qld__banner__search col-xs-12 col-md-8 col-lg-8">
                    <form class="qld__search qld__search--responsive qld__service-finder qld__service-finder--wide" action="" method="GET">
                        
                        
                        <label for="query-inner" class="qld__search__label">Search query</label>
                        <div class="qld__search__inner">
                            <input required="" name="query" id="query" title="Search query" type="text" accesskey="q" value="%globals_get_query%"  class="qld__text-input query" autocomplete="off">
                            <div class="qld__search__btn">
                            <button class="qld__btn qld__btn--search" id="query-submit" type="submit" autocomplete="off">
                                <span class="qld__btn__icon"></span>
                                <span class="qld__btn__text">Search</span>
                            </button>
                        </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>