.qld__banner{
    margin-bottom:1rem;
    margin-top: 0rem;
}
.qld__banner__buttons{
    .qld__btn__primary{
        background-color: var(--QLD-color-light-button);
        color: var(--QLD-color-light-button__text);
        border-color: var(--QLD-color-light-button);
    }
    .qld__btn__secondary{
        background-color: var(--QLD-color-dark-button);
        color:  var(--QLD-color-dark-button__text);
        border-color:  var(--QLD-color-dark-button);
    }
    .qld__btn__secondary:hover{
        border-color: var(--QLD-color-dark-button__hover);
        color: var(--QLD-color-dark-button__text);
        background-color: var(--QLD-color-dark-button__hover);
        text-decoration-color: var(--QLD-color-dark-button__text) !important;
    }
    .qld__btn__secondary:focus{
        outline: 2px solid var(--QLD-color-dark-button) !important;
        text-decoration-color: var(--QLD-color-dark-button__text) !important;
    }
}

.qld__banner--dark, .qld__banner--dark-alt{
    .qld__breadcrumbs{
        color: var(--QLD-color-dark-text__muted);   
        a{
            color: var(--QLD-color-dark-link);        
        } 
        a:visited{
            color: var(--QLD-color-dark-text__muted) !important;   

        }
    }
}