.row{
    &.qld__icon-top{
        flex-direction: column !important;
    }
    &.qld__icon-right{
        flex-direction: row-reverse !important;

    }
}
.qld__icon__box__section{
    padding: 1.5rem 0;
}
@media (max-width:699px){
    .qld__icon__box__section{
        padding:1rem 0;
    }
}