.qld__body p, .qld__footer p{ /* QH DS style is set to max-width: 46rem */
    max-width: 100%;
  }
  
  .qld__icon-box{
    font-size:5rem;
  }
  .qld__callout{
    max-width: 100%; /* QH DS original style is set to max-width: 46rem; */
  }
  
  .qld__grid main>.qld__body>.container-fluid>.row {
    margin-left:1rem;
    margin-right:1rem;
  }
  
  .qld__callout--wrapper.qld__body {
    padding-top: 1rem;
  }
  
  .bannerImgWrapper{
    padding:1.5rem 1.5rem 1.5rem 0; 
    width: 100%; 
    height: 100%; 
    text-align: right;
  }
  .bannerImgWrapper img{
    height: 100%;
  }
  
  .qld__main-nav__menu-sub-inner .qld__link-columns.qld__link-list a{
    color: #ffffff;
  }
  
  /* .qld__header__cta-wrapper{
    border: solid 2px yellow;
  } */
  .qld__banner__content{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* .qld__card__image-link .qld__responsive-media-img--bg{
    padding-bottom: 0px;
  } */
  
  .qld__card__image-link .qld__responsive-media-img--bg img{
    border-radius: 0px 0px 6.0882800609%/10.8108108108% 0px;
  }
  .qld__card .qld__responsive-media-img--bg{
    outline:0px;
  }
  .qld__header__pre-header{
    z-index:2;
  }
  @media screen and (min-width:1025px) and (max-width:1400px ){
    .qld__header__pre-header, .qld__header__main{
      padding: 0 1rem;
    }
  }
  @media screen and (max-width: 1024px) {
    .qld__header .qld__header__main.qld__header__main--dark, .qld__header__pre-header, .qld__main-nav.qld__main-nav--dark .qld__link-list, .qld__banner__content
    {
      padding: 0 1.5rem;
    }
  
    .qld__banner__main .qld__banner__content {
      padding: 0 2.2rem;
    }
    @media (max-width:600px){
      .qld__banner__main .qld__banner__content {
        padding: 0 1rem;
      }
    }
  
    .qld__footer.qld__footer--dark-alt{
      padding: 0 1.5rem 2rem 1.5rem;
    }
  
    .qld__grid main>.qld__body>.container-fluid>.row{
      margin-left: 0; /* QH DS orig is -1 */
      margin-right: 0; /* QH DS orig is -1 */
    }
  
    .qld__body--full-width {
      padding: 0 1.5rem;
    }
  
    section.qld__body {
      padding: 1.5rem;
    }
  }
  
  
  @media screen and (max-width: 991px) {
  .container-fluid.logo_navcontrol_wrapper {
    height: 72px;
  }
  .qld__header .qld__header__pre-header-brand-image{
    height: auto;
    padding: 15px 0;
  }
  }
  
  @media screen and (max-width: 600px) {
  .qld__banner .qld__banner__image{
    display: none;
  }
  .container-fluid.logo_navcontrol_wrapper {
    height: 51px;
  }
  .qld__header .qld__header__pre-header-brand-image {
    height: auto;
    padding: 7px 0;
  }
  .qld__footer__navigation ul.qld__link-list>li{
    width: 100%;
    flex-basis: 100%;
  }
  .qld__footer__social ul{
    flex-wrap: nowrap !important;
  }
/*   
  .qld__footer__navigation .qld__footer__heading{
    width: 100%;
  } */

  }
  .qld__service_search__result__header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .qld__align--left{
    text-align:left;
  }
  .qld__align--center{
    text-align:center;
  }
  .qld__align--right{
    text-align:right;
  }
  @media(min-width: 992px) {
     .qld__service_search__result__header {
      display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
  
  }
.qld__banner__content .slick-slide-title, .qld__banner__content--cta, .qld__banner__content h1{
  padding-left: 1rem;
}
:root,
::after,
::before{
  --QLD-color-light-siteTitle: #022A50;
  --QLD-color-light-designAccent: #6BBE27;
  --QLD-color-light-heading: #03213F;
  --QLD-color-light-text: #414141;
  --QLD-color-light-text__muted: #636363;
  --QLD-color-light-link: #09549F;
  --QLD-color-light-link__visited: #551A8B;
  --QLD-color-light-button__text: #FFFFFF;
  --QLD-color-light-button: #09549F;
  --QLD-color-light-button__hover: #003E7D;
  --QLD-color-light-focus: #0085B3;
  --QLD-color-light-border: #EBEBEB;
  --QLD-color-light-background: #FFFFFF;
  --QLD-color-light-background__shade: #F5F5F5;
  --QLD-color-light-hint: #6f777b;
  --QLD-color-light-alt-button: #008733;
  --QLD-color-light-alt-button__hover: #00702B;
  --QLD-color-light-alt-border: #818181;
  --QLD-color-light-alt-background: #EBEBEB;
  --QLD-color-light-alt-background__shade: #E0E0E0;
  --QLD-color-light-alt-hint: #61696B;
  --QLD-color-dark-siteTitle: #FFFFFF;
  --QLD-color-dark-designAccent: #6BBE27;
  --QLD-color-dark-heading: #FFFFFF;
  --QLD-color-dark-text: #FFFFFF;
  --QLD-color-dark-text__muted: #DEEBF9;
  --QLD-color-dark-link: #FFFFFF;
  --QLD-color-dark-link__visited: #A668F4;
  --QLD-color-dark-button__text: #121940;
  --QLD-color-dark-button: #9AC02C; 
  --QLD-color-dark-button__hover: #ADD33F;
  --QLD-color-dark-focus: #01B0E5;
  --QLD-color-dark-border: #1D9AC6; 
  --QLD-color-dark-background: #09549F;
  --QLD-color-dark-background__shade: #04498F;
  --QLD-color-dark-alt-button: #EFD700;
  --QLD-color-dark-alt-button__hover: #FFE817;
  --QLD-color-dark-alt-border: #11B2D4;
  --QLD-color-dark-alt-background: #05325F;
  --QLD-color-dark-alt-background__shade: #052C53
}
.qld__header__header-brand-image{
  max-width: 170px;
}
/* .qld__header .qld__header__search{
  z-index: 0;
} */
.qld__main-nav--mega.qld__main-nav--dark li.dropdown button:hover{
  background: var(--QLD-color-dark-background) !important;
  border-color: var(--QLD-color-dark-alt-button__hover);
}
.qld__main-nav.qld__main-nav--mega.qld__main-nav--dark .qld__main-nav__menu .qld__main-nav__item-toggle.qld__accordion--open{
  border-color: var(--QLD-color-dark-alt-button__hover);
}
.qld__main-nav--mega.qld__main-nav--light li.active a.qld__main-nav__item-link, .qld__main-nav--mega.qld__main-nav--dark li.active a.qld__main-nav__item-link {
  border-bottom: none !important;
}
.qld__main-nav--mega.qld__main-nav--light .qld__link-columns li.active, .qld__main-nav--mega.qld__main-nav--light .qld__link-columns li, .qld__main-nav--mega.qld__main-nav--dark .qld__link-columns li{
  box-shadow: none;
}
.qld__main-nav--light li.active a.qld__main-nav__item-link:hover{
  background-color: transparent;
}
.container-fluid{
  padding-left: 1rem;
  padding-right: 1rem;
}
.qld__footer__social i {
  padding-right: 1rem;
}
.qld__footer__social ul.qld__link-list>li{
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}
.qld__footer__social ul.qld__link-list>li i:hover{
  color: var(--QLD-color-dark-alt-button__hover);
}
.qld__footer__social ul.qld__link-list>li a{
  text-decoration: underline;
  text-decoration-color: var(--QLD-color-dark-underline);
}
@media screen and (min-width:992px){
  .qld__footer__social ul.qld__link-list>li{
    width: 100%;
  }
  .qld__footer .container-fluid .qld__footer__row{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width:991px){
  .qld__footer__social ul.qld__link-list>li span{
    display: none;
  }
  .qld__main-nav--dark .qld__main-nav__menu-inner, .qld__main-nav--dark .qld__main-nav__header, .qld__main-nav--dark .qld__link-list{
    background-color: var(--QLD-color-dark-background);
  }
  .qld__main-nav--dark .qld__link__list a:hover{
    background-color: var(--QLD-color-dark-background-shade);

  }
}
.qld__card-list.qld__card-list--matchheight .col-md-4{
  margin-top: 2rem;
}
.qld__body.qld__subscription{
  display:flex;
  flex-wrap: wrap;
  border-radius: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.qld__subscription__container{
  display:flex;
  align-items: center;
}
.qld__subscription .qld__subscription__container .qld__sub__form-content{
  width: 50%;
  padding: 2rem;
}
.qld__body--dark .wpforms-container .wpforms-field-label, .qld__body--dark .wpforms-container .wpforms-field-sublabel, .qld__body--dark-alt .wpforms-container .wpforms-field-label, .qld__body--dark-alt .wpforms-container .wpforms-field-sublabel{
  color: var(--QLD-color-dark-text);
}
.qld__body--dark .wpforms-container-full button[type=submit]:not(:hover):not(:active), .qld__body--dark-alt .wpforms-container-full button[type=submit]:not(:hover):not(:active){
  background-color: var(--QLD-color-dark-button);
  color: var(--QLD-color-dark-button__text);
  border-color: var(--QLD-color-dark-button);
}
.qld--body--dark .wpforms-container-full > button[type=submit]:hover, .qld--body--dark-alt .wpforms-container-full button[type=submit]:hover {
  color: var(--QLD-color-dark-button__text);
  background-color: var(--QLD-color-dark-button__hover) !important;
  text-decoration-color: var(--QLD-color-dark-hover-underline);
  border-color: var(--QLD-color-dark-button__hover);
  text-decoration-color: var(--QLD-color-dark-button__text);
}
.qld__all_posts__link{
  padding-top:2rem;
}
.qld__pagination__row{
  margin: auto;
}
.page-numbers{
  padding-left:.5rem;
}
.qld__not__found__heading{
  margin-bottom:2rem;
}
@media (min-width:699px) {
  #banner-123 {
      background-image: url();
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: ;
  }
}
.qld__card__title.qld__search__results__title{
  margin-top:2rem;
}