<!--@@ Breadcrumbs - Mobile @@-->
    <div class="container-fluid">
        <nav class="qld__breadcrumbs qld__banner__breadcrumbs qld__banner__breadcrumbs--mobile" aria-label="breadcrumb">
            <ul class="qld__link-list qld__link-list--inline">
                    <li>
                        <a href="/">
                                Back to Design
                        </a>    
                    </li>
            </ul>
        </nav>
    </div>

<section class="qld__banner qld__banner--alt qld__banner--search">
    <div class="container-fluid">
        <div class="qld__banner__content">

                <nav class="qld__breadcrumbs qld__banner__breadcrumbs qld__banner__breadcrumbs--desktop" aria-label="breadcrumb">
                    <ul class="qld__link-list qld__link-list--inline">
                            <li><a href="/home.html">Home</a></li>
                            <li><a href="/">Design</a></li>
                            <li>Components</li>
                    </ul>
                </nav>

            <h1>Queensland Design System</h1>

            <div class="qld__banner__content--body">
                <p>Short description</p>
            </div>
            
        </div>

        

        <form class="qld__search qld__search--responsive qld__service-finder" action="" method="GET" id="qld__service-finder__auspost" data-api="">
            <input type="hidden" name="origin" id="query-origin" value="">
            <input type="hidden" name="maxdist" id="query-maxdist"  value="">
            <label for="query-inner" class="qld__search__label">Search query</label>
            <input required="" name="query-text" id="query-inner" title="Search query" type="text"
                accesskey="q" placeholder="Enter your postcode, city or suburb" class="qld__text-input" autocomplete="off">
            <div class="qld__search__btn">
                <button class="qld__btn" id="query-submit" type="submit" disabled autocomplete="off">
                    <span class="qld__search__submit-btn-text">Search</span>
                </button>
            </div>
        </form>
    </div>
</section>