.qld__posts__card__link{
    width: 100%;
}
.qld__card--wrapper{
    .col-xs-12{
        &.qld__posts_card_header{
            margin: 1rem 0rem;
            padding: 0rem;
            p{
                margin-bottom: 1rem;
            }
        }
    }
}
