.icon-group-title-col{
    h3.qld_callout_heading{
        max-width:100%;
    }
}
.icon-group-row{
    img{
        padding-bottom:1rem;
        padding-top: 1rem;
    }
}
.qld__image__group__section{
    margin:1.5rem 0;
}
.qld__image__group__section{
    .container-fluid{
        .row{
            &.icon-group-row{
                margin-left: -1rem;
                margin-right: -1rem;
            }
        }
    }
}