.icon-group-title-col{
    h3.qld_callout_heading{
        max-width:100%;
    }
}
.icon-group-row{
    &.qld__align--left{
        justify-content: start;
    }
    &.qld__align--right{
        justify-content: end;
    }
    &.qld__align--center{
        justify-content: center;
    }
    img{
        padding-bottom:1rem;
        padding-top: 1rem;
    }
}
.qld__image__group__section{
    margin:1.5rem 0;
    padding: 2rem;
}
.qld__image__group__section{
    .container-fluid{
        .row{
            &.icon-group-row{
                margin-left: -1rem;
                margin-right: -1rem;
            }
        }
    }
}
.qld__image__group__section{
    &.qld__body--dark, &.qld__body--dark-alt{
        h3.qld_callout_heading{
            color: var(--QLD-dark-color-text);
        }
    }
}